<h2>My Heroes</h2>

<app-data-table></app-data-table>

<br>

<!--
<div class="jumbotron">
  <ul>
    <li *ngFor="let hero of heroes">
      <ngb-alert type="info" [dismissible]="false">
        <div class="row">
          <div class="col-10">
            <a routerLink="/detail/{{hero.id}}">
              <div class="row">
                <div class="col-2">{{hero.id}}</div>
                <div class="col-8">{{hero.name}}</div>
              </div>
            </a>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="delete(hero)">x</button>
          </div>
        </div>
      </ngb-alert>

    </li>
  </ul>
</div>
-->
